html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #363636;
}
body {
  height: 100%;
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0;
}

canvas{
  border:1px solid white;
}
